.ak-header {

	background: #fff url(../img/header-bg.jpg) top center no-repeat;
	background-size: cover;
	margin-bottom: 100px;

	&__menu {
		z-index: 9999999;
		position: relative;
	}

}

.ak-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	right: -340px;
	width: 320px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,.5);
	z-index: 999999;
	transition: transform ease-in .4s;

	&--open {
		transform: translateX(-340px);
	}


	&__items {
		list-style: none;
		padding-left: 0;

		li {
			text-transform: uppercase;

			a {
				color: #fff;
				line-height: 40px;
			}
		}
	}
}