* {
	outline: none;
}

body {
	font-family: 'PT Sans', sans-serif;
	color: $color_text;
	font-size: 18px;

}


h1, h2, h3, h4, h5, h6 {
	font-family: 'ProximaNova', sans-serif;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	font-weight: 700;
}